<div class="keywords form">
<?php echo $this->Form->create('Keyword'); ?>
	<fieldset>
		<legend><?php echo __('Admin Add Keyword'); ?></legend>
	<?php
		echo $this->Form->input('value', array('label' => 'Keyword'));
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
