<div class="keywords index">
	<h2><?php echo __('Keywords'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('value', 'Keyword'); ?></th>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php
	foreach ($keyword_list_items as $keyword): ?>
	<tr>
		<td><?php echo h($keyword['Keyword']['value']); ?>&nbsp;</td>
		<td><?php echo h($keyword['Keyword']['id']); ?>&nbsp;</td>
		<td><?php echo h($keyword['Keyword']['created']); ?>&nbsp;</td>
		<td><?php echo h($keyword['Keyword']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $keyword['Keyword']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $keyword['Keyword']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $keyword['Keyword']['id']), null, __('Are you sure you want to delete # %s?', $keyword['Keyword']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>

	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
